.form {
  display: flex;
  row-gap: 30px;
  flex-wrap: wrap;
  max-width: 842px;
  margin: 0 auto;
}

.form-field {
  flex-basis: 100%;
  padding: 0 $gap-half;
}

.form-field-half {
  flex-basis: 50%;
}

.form-label {
  padding-left: 20px;
  font-size: 20px;
  line-height: 27px;
  color: $color-accent;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 20px;
  font-family: $font;
  font-size: 20px;
  line-height: 27px;
  border-radius: 8px;
  background-color: $color-light;
  border: none;
  color: inherit;
}

.form-textarea {
  resize: vertical;
  height: 167px;
}
