.services {
  padding: 100px 0;
  background-color: $color-light;
}

.services-inner {
  @include inner;
}

.services-title {
  @include section-title;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  margin-top: 70px;
  row-gap: 50px;
  column-gap: 30px;
}

.services-item {
  max-width: 624px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.services-caption {
  font-family: $font-title;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}

.services-text {
  font-weight: 300;
  font-size: 28px;
  line-height: 38px;
}
